<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <nav>
        <ul>
            <ol><a href="/">Site logo</a></ol>
            <ol><a href="/users">Users</a></ol>
            <ol><a href="/cars">Cars</a></ol>
        </ul>
    </nav>
    <h1>List of cars</h1>
    <ul>
    {{#each carsData}}
    <li>{{car}}</li>
    {{/each}}
  </ul>
</body>
</html>