<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <ul>
        <ol><a href="/">Site logo</a></ol>
        <ol><a href="/users">Users</a></ol>
        <ol><a href="/cars">Cars</a></ol>
    </ul>
    <h1>List of users</h1>
    <ul>
    {{#each usersData}}
    <li>{{userName}}</li>
    {{/each}}
  </ul>
</body>
</html>